/* Resetear estilos por defecto de algunos elementos */
body, h1, label, select, input {

    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
        background-color: lightblue;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    font-family: Arial, sans-serif;    text-align: center;
}

h1 {
    font-size: 24px;
    color: #333;
    margin: 20px 0;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin: 10px 0;
    font-weight: bold;
    font-size: 16px;
}

select, input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

input[type="submit"] {
    background: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #0056b3;
}

/* Estilo para el campo de selección múltiple */
select[multiple] {
    height: auto;
}

/* Agregar estilos a la hoja de estilos personalizada */
/* Puedes personalizar los estilos en tu archivo "establecimiento.css" */
