<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/organizacion.css">
    <title>Formulario</title>
</head>
<body>
<h1>Completa el formulario</h1>
<form method="post" action="organizacion/nueva">
    <label for="nombre">Nombre:</label>
    <input type="text" name="nombre" id="nombre" required><br>

    <label for="latitud">Latitud:</label>
    <input type="text" name="latitud" id="latitud" required><br>

    <label for="longitud">Longitud:</label>
    <input type="text" name="longitud" id="longitud" required><br>

    <label for="sucursales">Sucursales:</label>
    <select name="sucursales" id="sucursales" multiple>
        {{#each sucursalesDisponibles}}
            <option value="{{this}}">{{this}}</option>
        {{/each}}
    </select><br>

    <input type="submit" value="Enviar">
</form>
</body>
    <div class="footer">
        <a href="/organizaciones" class="btn btn-secondary">Volver</a>
    </div>
</html>
