<!DOCTYPE html>
<html>
<head>
    <title>Sugerencia de Revision de Incidentes</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>Chequeo de Incidentes Cercanos</h1>
<form id="recomendador-form">
    <!-- Agrega aquí los campos de entrada necesarios, si los hay -->
    <div align="center">
        <a class="btn btn-primary" href="/sugerenciarevision/sugerir">Chequear Incidentes</a>
    </div>
    <!--<button id="recomendar-btn" type="button">Recomendar Fusion</button> -->
</form>
<div id="resultado-sugerencia">
    <p>{{sugerencia}}</p>
</div>
<div class="footer">
    <a href="/init" class="btn btn-secondary">Volver</a>
</div>
</body>
</html>